---
import { Image } from "astro:assets";
import InfoIcon from "../../assets/icons/info.svg";
import MoneySheetsIcon from "../../assets/icons/money-sheets.svg";
import Button from "../Button.astro";
import appImage from "../../assets/images/app.png";

interface Props {
  tagline?: string;
  title: string;
  description: string;
  primaryCta?: { label: string; href: string };
  secondaryCta?: { label: string; href: string };
  backgroundImage?: string;
}

const {
  title = "Portería Virtual <br> & Videovigilancia",
  description = "Spotter es la solución de portería virtual y monitoreo de seguridad para tu propiedad. Nuestro equipo de profesionales te protege las 24 horas, los 365 días del año.",
  primaryCta = { label: "Más información", href: "#servicios" },
  secondaryCta = { label: "Solicitar presupuesto", href: "#presupuesto" },
  VideoBack = "/video/hero.mp4",
} = Astro.props;
---

<section
  class="relative bg-black text-white flex items-end xg:items-center h-[100svh] overflow-hidden py-16 sm:py-16 xg:py-20"
  data-back="dark" >
  <!-- Video background -->
  <div class="absolute inset-0 z- blur-[1px]">
    <video
      class="w-full h-full opacity-50 object-cover"
      src={VideoBack}
      autoplay
      muted
      loop></video>
    <div class="absolute inset-0"></div>
  </div>

  <div class="relative container-short flex flex-col z-30">
    <div class="flex flex-col gap-4">
      <h1
        class="hero-title big-title mb-6 text-ivory"
        set:html={title.replace(/\n/g, "<br />")}
      />

      <p
        class="mt-2 xg:mt-6 xg:text-lg w-[75%] xg:w-[33%] anim"
        data-anim="bottom"
        data-mode="trigger"
        data-delay="0.8"
      >
        {description}
      </p>

      <div
        class="mt-50 xg:mt-25 flex w-full flex-col gap-6 xg:gap-10 sm:w-auto sm:flex-row anim"
        data-anim="bottom"
        data-mode="trigger"
        data-delay="1.2"
        data-children="false"
      >
        <Button variant="white" size="lg" href={primaryCta.href}>
          <InfoIcon />
          <span>{primaryCta.label}</span>
        </Button>

        <div class="hidden xg:flex">
          <Button variant="outline_white" size="lg" href={secondaryCta.href}>
            <MoneySheetsIcon />
            <span>{secondaryCta.label}</span>
          </Button>
        </div>

        <div class="xg:hidden">
          <Button variant="outline_dark" size="lg" href={secondaryCta.href} class="w-full">
            <MoneySheetsIcon />
            <span>{secondaryCta.label}</span>
          </Button>
        </div>

      </div>
    </div>
  </div>

  <!-- app -->
  <div
    class="absolute hidden xg:block xg:top-15 right-4 xg:right-[21%] z-20 w-[40%] xg:w-[15%] anim"
    data-anim="bottom"
    data-mode="trigger"
    data-delay="0.5"
  >
    <figure class="parallax" data-speed-mobile="0" data-speed="-0.3">
      <Image
        class="w-full anim-float"
        src={appImage}
        alt="App"
        widths={[240, 320, 480]}
        sizes="(min-width: 1280px) 15vw, 40vw"
        format="webp"
      />
    </figure>
  </div>

  <div
    class="absolute w-full left-0 bottom-0 h-[50vh] bg-gradient-to-b from-transparent to-primary-dark z-10 pointer-events-none"
  >
  </div>
</section>
