---
import Grid from "../Grid.astro";
import TestimonialCard from "../TestimonialCard.astro";
import carlosMendezAvatar from "../../assets/images/carlos-mendez.png";
import marinaRuizAvatar from "../../assets/images/marina-ruiz.png";
import soledadPerezAvatar from "../../assets/images/soledad-perez.png";

const testimonials = [
  {
    quote:
      "Spotter cambió la forma en que protejo mi propiedad. Duermo tranquilo.",
    author: "Carlos Mendez",
    role: "Propietario",
    company: "Residencias del Sol",
    avatar: carlosMendezAvatar,
    rating: 5,
  },
  {
    quote:
      "El servicio es impecable. Responden al instante ante cualquier situación.",
    author: "Marína Ruiz",
    role: "Gerente",
    company: "Empresas García Ltd",
    avatar: marinaRuizAvatar,
    rating: 5,
  },
  {
    quote:
      "Profesionales de verdad. Spotter es la seguridad que mi negocio necesita.",
    author: "Soledad Perez",
    role: "Director",
    company: "Comercial RS",
    avatar: soledadPerezAvatar,
    rating: 5,
  },
];
---

<section class="relative px-4 py-30 sm:py-40 xg:pt-60 xg:pb-80">
  
  <div class="relative container-short flex flex-col gap-16 z-20">
    <div class="flex flex-col gap-4">
      <h2
        class="font-sora text-4xl leading-[1.2] font-semibold tracking-[-1px] xg:text-4xl xl:text-5xl anim"
        data-anim="right"
        data-translate="1"
      >
        Voces de confianza
      </h2>

      <p
        class="text-lg anim"
        data-anim="right"
        data-translate="1"
        data-delay="1"
      >
        Lo que dicen nuestros clientes.
      </p>
    </div>

    <div
      class="grid grid-cols-1 gap-50 xg:gap-30 xg:grid-cols-3 mt-40 anim"
      data-anim="bottom"
      data-translate="1"
      data-mode="trigger"
      data-stagger="0.15"
      data-duration="1"
      data-start="top 60%"
      data-children="true"
    >
      {
        testimonials.map((testimonial) => (
          <TestimonialCard
            quote={testimonial.quote}
            author={testimonial.author}
            role={testimonial.role}
            company={testimonial.company}
            avatar={testimonial.avatar}
            rating={testimonial.rating}
          />
        ))
      }
    </div>
  </div>

  <Grid />
</section>
