---
interface Props {
  variant?: "primary" | "secondary" | "white" | "yellow" | "outline" | "outline_dark" | "link";
  size?: "sm" | "md" | "lg";
  href?: string;
  class?: string;
}

const { variant = "primary", size = "md", href, class: className = "" } = Astro.props;

const baseClasses = "inline-flex items-center justify-center gap-[1rem] text-md xg:text-lg font-semibold leading-none transition-all duration-200 cursor-pointer rounded-[3rem] [corner-shape:squircle] [&_svg]:size-12 xg:[&_svg]:size-10";

const variantClasses = {
  primary: "bg-primary text-white border border-primary hover:bg-transparent hover:border-primary-dark hover:text-primary-dark hover:backdrop-blur-lg" ,
  white: "bg-white text-primary-dark hover:bg-primary-dark hover:!text-white",
  secondary: "bg-primary text-white hover:bg-[#2555d4]",
  yellow: "bg-yellow-400 text-primary-darker hover:bg-[#1d52da] hover:!text-white",
  outline: "border border-white !text-white hover:bg-white/10 hover:backdrop-blur-lg",
  outline_dark: "border border-primary-dark text-primary-dark hover:bg-primary hover:text-white",
  link: "text-primary hover:underline",
};

const sizeClasses = {
  sm: "px-3 py-1.5 text-sm",
  md: "px-6 py-[.8rem] text-base",
  lg: "px-10 py-8 xg:px-14 xg:py-8 text-lg font-extrabold",
};

const classes = `${baseClasses} ${variantClasses[variant]} ${sizeClasses[size]} ${className}`;
const Tag = href ? "a" : "button";
---

{href ? (
  <a href={href} class={classes}>
    <slot />
  </a>
) : (
  <button class={classes}>
    <slot />
  </button>
)}

