---
import FlagSwitcher from "./FlagSwitcher.astro";
import Logo from "./Logo.astro";
import SocialIcon from "./SocialIcon.astro";
import WhatsApp from "./WhatsApp.astro";

const navColumn1 = [
  { label: "Monitoreo de seguridad", href: "#monitoreo" },
  { label: "Portería virtual", href: "#porteria" },
  { label: "Solicitar presupuesto", href: "#presupuesto" },
  { label: "Contacto", href: "#contacto" },
  { label: "Trabaja con nosotros", href: "#trabajo" },
];

const navColumn2 = [
  { label: "Monitoreo seguridad", href: "#monitoreo" },
  { label: "Portería virtual", href: "#porteria" },
  { label: "Solicitar presupuesto", href: "#presupuesto" },
  { label: "Trabaja con nosotros", href: "#trabajo" },
];

const legalLinks = [
  { label: "Política de privacidad", href: "#privacidad" },
];

const socialLinks = [
  { platform: "facebook" as const, href: "#" },
  { platform: "instagram" as const, href: "#" },
];
---

<footer
  class="bg-primary text-white px-4 pt-60 pb-20 xg:px-60 xg:pb-10 overflow-hidden mt-60"
>
  <div class="mx-auto max-w-[90%] flex flex-col gap-20 xg:gap-60">
    <div
      class="grid grid-cols-1 xg:grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-16 xg:gap-30"
    >
      <figure class="flex justify-center xg:justify-start mb-20 xg:mb-0">
        <Logo class="text-white" />
      </figure>

      <div class="hidden xg:flex flex-col gap-10 xg:gap-15">
        <span class="text-lg font-semibold"> Links </span>
        <nav class="flex flex-col gap-4">
          {
            navColumn2.map((link) => (
              <a href={link.href} class="hover:opacity-60 transition-opacity">
                {link.label}
              </a>
            ))
          }
        </nav>
      </div>

      <div class="flex flex-col items-center xg:items-start text-center xg:text-left gap-10 xg:gap-15">
        <span class="hidden xg:block text-lg font-bold">Dirección</span>
        <span>
          Dr. Alfredo Arocena 1920, <br />
          Montevideo, Uruguay
        </span>
      </div>

      <div class="flex flex-col items-center xg:items-start text-center xg:text-left gap-10 xg:gap-15 mt-10 xg:mt-0">
        <span class="text-lg font-semibold">Teléfono</span>
        <a href="tel:+59826028696" class="hover:opacity-60 transition-opacity">
          <span class="text-4xl font-semibold whitespace-nowrap">2602 8696</span>
        </a>
      </div>

      <div class="flex justify-center xg:justify-end gap-4 mt-10 xg:mt-0">
        {
          socialLinks.map((social) => (
            <SocialIcon
              platform={social.platform}
              href={social.href}
              class="hover:opacity-60"
            />
          ))
        }
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div
        class="xg:w-[175%] h-px xg:translate-x-[-25%] bg-gradient-to-r from-transparent via-primary/20 to-transparent"
      >
      </div>

      <div class="flex flex-row justify-between gap-4 text-sm ">
        <a
          href="#privacidad"
          class="opacity-60 hover:opacity-100 transition-opacity"
        >
          © 2026 Spotter
        </a>

        <div class="flex flex-wrap gap-6 xg:gap-12">
          {
            legalLinks.map((link) => (
              <a
                href={link.href}
                class="opacity-60 hover:opacity-100 transition-opacity"
              >
                {link.label}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>

<WhatsApp number="+59899999999" />

<FlagSwitcher/>

