---
interface Props {
  quote: string;
  author: string;
  role: string;
  company?: string;
  avatar?: string;
  rating?: number;
  class?: string;
}

const { quote, author, role, company, avatar, rating = 5, class: className = "" } = Astro.props;
---

<div class:list={["grid grid-rows-[auto_1fr_auto] gap-10 bg-transparent", className]}>
  <div class="flex gap-1">
    {Array.from({ length: rating }).map(() => (
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 1L12.39 6.26L18 7.27L14 11.14L14.76 17L10 14.27L5.24 17L6 11.14L2 7.27L7.61 6.26L10 1Z" fill="var(--color-yellow-400)"/>
      </svg>
    ))}
  </div>
  <blockquote class="text-xl text-white not-italic mb-10">"{quote}"</blockquote>
  <div class="flex items-center gap-4">
    {avatar && (
      <img src={avatar} alt={author} class="size-25 rounded-full object-cover" width="56" height="56" />
    )}
    <div class="flex flex-col">
      <p class="text-md font-semibold text-white">
        {author}
      </p>
      <p class="text-base text-white">
        {role}{company && `, ${company}`}
      </p>
    </div>
  </div>

</div>
